<h1>Instagram</h1>

<% if @pictures.any? %>
	
	<% @pictures.each do | picture | %>

		<section class="pic_box">
			
			<h1> <%= picture.title %> </h1>

			<p>  <%= picture.description %> </p>

			<%= link_to "Update", edit_picture_path(picture)     %>

			<%= link_to "Delete", picture_path(picture), method: :delete %>
			
			<%= link_to "Show", picture_path(picture)            %>
			
			<%= link_to "Comment", new_picture_comment_path(picture)%>

			<% picture.comments.each do | comment | %>

				<section class="comment_box">
					<ul>
						<li> 
								<%= "#{comment.content}" %> <%= "#{comment.rating}" %> 

								<%= link_to 'Like it', comment_likes_path(comment), class: 'like_comment' %>
								<span class="likes_count"> <%= comment.likes.count %>  </span> likes
						</li>
					</ul>
				</section>
			<% end %>
				<span class="average_rating"> Average: <%= happy_face_rating(picture.average_rating) %> </span>
		</section>
	<% end %>

<% else %>

	<p>No pictures yet</p>

<% end %>

<%= link_to 'Add a picture', new_picture_path %>


