<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Instagram</title>
</head>
<body>
	
	<div class="wrapper">
	
	<% if flash[:notice] %>
		<div class="errors">
			<ul>
				<li class="message"> <%= notice %> </li>
			</ul>
		</div>
	<% end %>
		
		<h1>Instagram</h1>

		<% if @pictures.any? %>
			
			<% @pictures.each do | picture | %>

				<section class="pic_box">
					
					<h1> <%= picture.title %> </h1>

					<p>  <%= picture.description %> </p>

					<%= link_to "Update Picture", edit_picture_path(picture)     %>

					<%= link_to "Delete", picture_path(picture), method: :delete %>
					
					<%= link_to "Show Picture", picture_path(picture)            %>

				</section>
			<% end %>

		<% else %>

			<p>No pictures yet</p>

		<% end %>

		<%= link_to 'Add a picture', new_picture_path %>
	</div>	
</body>
</html>
