<!DOCTYPE html>
<html>
<head>
  <title>Instagram</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="wrapper">
	
	<% if flash[:notice] %>
		<div class="errors">
			<ul>
				<li class="message"> <%= notice %> </li>
			</ul>
		</div>
	<% end %>

<%= yield %>

	</div>

</body>
</html>
